.Articulos {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
  .Articulos div {
    margin-left: 15px;
    margin-bottom: 10px; }
  .Articulos img {
    height: 100%;
    width: 80%; }

.placas img {
  height: 150px;
  width: 200px; }

.notebook img {
  height: 150px;
  width: 200px; }

h1 {
  text-align: center; }
