@mixin contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
 }
 @mixin contenedor-flex {
    display: flex;
    flex-direction: row;
 }
$font-weights: ("regular": 400, "medium": 500, "bold": 700);



@import "nav";
@import "section";
@import "footer";