body{
    background-color: #efefef;
}

.Articulos{
        
        .card{
            margin-left: 15px;
            margin-bottom: 15px;
            
        }
       img{
            height: 90%;
            width: 80%;
        } 
}

@media screen and (min-width: 375px) {
    
    .Articulos{
        
        .card{
            margin-left: 50px;
            margin-bottom: 20px;
            
        }
       img{
            height: 100%;
            width: 80%;
            
        } 
        .carrusel{
            height: 230px;
            width: 280px;
        }
}


}

@media screen and (min-width: 750px) {

    .Articulos{

         @include contenedor-grid;

        .card{
            margin-left: 50px;
            margin-bottom: 20px;
            
        }
       img{
            height: 100%;
            width: 80%;
            
        } 
        .carrusel{
            height: 230px;
            width: 280px;
        }
    }
    .contact-main{
        .compras{
            text-align: center;
            margin: 20px;
        }
        
    }
    .ubicacion{
        text-align: center;
        font-weight: map-get($font-weights, "medium");
        font-family: 'Times New Roman', Times, serif;
   .mapa{
       iframe{
        width: 600px;
        height: 300px;
       }
       
   }
}
}

@media screen and (min-width: 1400px) {

    .Articulos{

        @include contenedor-grid;
        grid-template-columns: 1fr 1fr 1fr;

       .card{
           margin-left: 50px;
           margin-bottom: 20px;
           
       }
      img{
           height: 100%;
           width: 80%;
           
       } 
       .carrusel{
           height: 230px;
           width: 280px;
       }
   }

   .contenedor-index{
    
            .col{
                @include contenedor-flex;
                justify-content:center;
                transition: 0.5s;
            }
            .col:hover{
                transform: scale(1.03)
            }
   }

   .alertas{
    @include contenedor-flex;
    justify-content: space-around;
    
}
.contact-main{
    .compras{
        text-align: center;
        margin: 20px;
    }
    
}
.ubicacion{
    text-align: center;
    font-weight: map-get($font-weights, "medium");
    font-family: 'Times New Roman', Times, serif;
.mapa{
   iframe{
    width: 1300px;
    height: 500px;
   }
   
}
}


}

@media screen and (min-width: 1900px) {

    .Articulos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 200px;

       .card{
           margin-left: 50px;
           margin-bottom: 20px;
           
       } 
       .carrusel{
           height: 230px;
           width: 280px;
       }
       .no-carrusel{
           height: auto;
           width: auto;
            
        }
    }
        
    .contenedor-index{
        .col{
            margin: 20px;
            transition: 0.5s;
        }
        .col:hover{
            transform: scale(1.03)
        }
}
.alertas{
    @include contenedor-flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: map-get($font-weights, "medium");
    font-family: 'Times New Roman', Times, serif;
    
    
}

    .contact-main{
        .compras{
            text-align: center;
            margin: 20px;
        }
        
    }

    .ubicacion{
            text-align: center;
            font-weight: map-get($font-weights, "medium");
            font-family: 'Times New Roman', Times, serif;
       .mapa{
           iframe{
            width: 1800px;
            height: 600px;
           }
           
       } 
    }
}


@media screen and (min-width: 2400px) {

    .Articulos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 500px;

       .card{
           margin-left: 50px;
           margin-bottom: 20px;
           
       } 
       .carrusel{
           height: 230px;
           width: 280px;
       }
       .no-carrusel{
           height: auto;
           width: auto;
            
        }
    }
        
    .contenedor-index{
        .col{
            margin: 20px;
            transition: 0.5s;
        }
        .col:hover{
            transform: scale(1.03)
        }
}
.alertas{
    @include contenedor-flex;
    justify-content: space-around;
    text-align: center;
    font-weight: map-get($font-weights, "medium");
    font-family: 'Times New Roman', Times, serif;
    
    
}

    .contact-main{
        .compras{
            text-align: center;
            margin: 20px;
        }
        
    }

    .ubicacion{
            text-align: center;
            font-weight: map-get($font-weights, "medium");
            font-family: 'Times New Roman', Times, serif;
       .mapa{
           iframe{
            width: 2400px;
            height: 1000px;
           }
           
       } 
    }
}